@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #707070;
	font-size: 13px;
	line-height: 20px;
	background-color:#f8f8f8;
	letter-spacing:0.5px;
}
.fa {
	font-size: 14px;
}
#top {
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
	background-color: #f0f0f0;
}
#top .container {
	padding: 0 20px;
}
.headertop {
    float: left;
}
.headertop .text{
	text-transform:uppercase;
	color:#424449;
	font-weight:300;
	margin-top:6px;
}
.lang-curr {
    float: right;
	margin-top:5px;
}
.fa-caret-down{
	vertical-align:text-bottom; 
	color:#8f8f90;
	}
#language .dropdown-menu {
	right: 0;
    left: auto; 
	padding:6px 3px;
	margin-top: 6px;
}
#language .dropdown-menu > li > a {
font-size:12px;
}
#language img{
	vertical-align:baseline;
	}
header{
padding:30px 0 30px; 
background-color:#fff; 
transition: padding 0.3s ease; 
-webkit-transition: padding 0.3s ease; 
-moz-transition: padding 0.3s ease; 
-ms-transition: padding 0.3s ease; 
-o-transition: padding 0.3s ease;
position:absolute;
top:40px;
width:100%;
}
.header-left {
    float: left;
	padding-right:40px
}
.col-sm-4.header-logo{width:auto; padding:0; 
transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-ms-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
}
#logo {
	margin: 0px 0 20px 0;
	display:inline-block;
}
header .btn-link, header li, header a,#language .dropdown-menu > li > a {
	color: #707070;	
	text-decoration: none;
	text-transform: uppercase;
}
.header-right {
    float: right;
	width: 77%;
	border-left: 1px solid #e5e5e5;
    padding-left: 40px;
}
.headertopright{ 
text-align:right;
}
.headertopleft{
float:left; 
text-align:left; 
margin-top:10px; 
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
}
.shipping-cms {
    display: inline-block;
	background:url(../images/tempo-icon.png) no-repeat scroll left center transparent;
	height: 35px;
    padding-left: 75px;
}
.shipping-text .text1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #71BA44;
}

.shipping-text .text2{
	font-weight: 400;
    text-transform: uppercase;
	font-size:13px;
}
.contact-text{
	display: inline-block;
	background:url(../images/get-in-touch.png) no-repeat scroll left center transparent;
	height: 18px;
    padding-left: 30px;
	transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.contact-text .text1 {
color:#1f2022;
font-weight:500;
text-transform:uppercase;
display:inline-block;
font-size:13px;
}
.headertopright .text2 {
    display: inline-block;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.headertopright .text2 .fa {
	display:none;
	}
.headertopright .text2 a{
	color:#f2ab33; font-size: 14px; letter-spacing:0.5px;
	}	
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
#top-links {
	padding-top: 5px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-khtml-opacity:1;
}
#top-links li,.header-search li{
	padding:0;
	 list-style:none
	}
#top-links ul.list-inline{/*float:left;*/ 
margin-top:3px;
 margin-right: 5px;
  float:none;
  display:inline-block;
  }
#top-links ul.list-inline li{
	background:url(../image/megnor/pipe.gif) no-repeat scroll right center transparent; 
	padding:0 15px 0 12px; 
	font-weight:300;
	}
#top-links a .fa{
	padding:5px 5px; 
	color:#8f8f90;
	display:none;
	}
.col-sm-5.header-search{
	clear:both; 
	width:100%; 
	padding: 10px;
    background-color: #f2f2f2;
}
#search {
	margin: 0px 0px 0 0;
	float:left;
	width: 95%;
	transition: width 0.3s ease;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-ms-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
}
#search .col-sm-3.sort{
	width:28%; 
	padding:0; 
	margin-right: 10px;
	}
#search .col-sm-3.sort select.form-control{
	padding: 10px 15px;
    line-height: 34px;
    text-transform: uppercase;
    height: auto !important;
	background-color:#fff;
}
#search .col-sm-3.sort select.form-control option {
    text-transform: capitalize;
    min-height: initial;
    padding-bottom: 0;
    line-height: normal;
	height:auto;
}
#search .col-sm-3.sort .customSelect.form-control{
background-color:#fff;
height:auto;
padding:9px 10px;
}
.searchbox {
    float: left;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
	width: 513px;
	border-right: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	background-color:#fff;
	text-transform:capitalize;
}
#search .input-group-btn{
	float:left; 
	width:auto;
	}
#search .btn-lg:hover{
background: #1f2022;
}
#search .btn-lg {
	font-size: 15px;
    line-height: 18px;
    padding: 12px 15px;
    margin: 0;
    background: #71BA44;
    border: none;
    border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
}
/*Start Login Dropdown*/


.dropdown.myaccount{
	float:none;
	}
header .dropdown.myaccount > a{
	padding:0px; 
	color:#fff;
	}
header .dropdown.myaccount a .fa{
	padding:13px 15px; 
	background-color:#1f2022;
}	
.dropdown.myaccount a span{
	display:none;
	}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover, .dropdown-menu.myaccount-menu, #currency .dropdown-menu .btn-link{
	font-size: 12px;
}
header .dropdown.myaccount a:hover .fa,header .dropdown.myaccount a:focus .fa{
background-color:#71BA44;
}
#login-dp{
	left: 554px;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#F90206;
}
.btn-tw:hover{
    color: #fff;
    background-color:#F90206;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*end Login Dropdown*/

.common-home .nav-inner-cms {
	margin-bottom:0px;
	}
.nav-inner-cms {
    border-top: 1px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom:20px;
	background-color:#fff;
	margin-top:178px;
	position:relative;
}

.responsive-menu,
.main-menu {
	background: transparent;	
	height: auto;
	margin-bottom: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	/*padding: 0px 5px;*/ 
	/*overflow:hidden; HIDE CATEGORIES THOSE ARE OUT OF MANU.  */	  
}
.box-category-heading {
    background-color: #1f2022;
    color: #fff;
    padding: 15px 30px 15px 60px;
    font-size: 15px;
    text-transform: uppercase;
    width: 250px;
    display: inline-block;
    float: left;
	line-height: 21px;
	overflow:hidden;
	position:relative;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.box-category-heading:before{
	font-family:"FontAwesome";
	content:"\f0c9";
	font-size:14px;
	color:#FFFFFF;
	padding:15px 17px;
	background-color:#ff9c00;
	position:absolute;
	top:0;
	left:0;
}

.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0; 
}
.main-menu ul > li {
	position: relative;
	float: left;
	z-index: 20;
	background-color:transparent;

}
.main-menu ul > li > a {
	color: #1f2022;
	display: block;
	padding: 16px 30px;
	margin-bottom: 0px;
	z-index: 6;
	position: relative;
	text-transform:uppercase;
	border-right: 1px solid #e5e5e5;
	line-height:19px;
}
.main-menu ul > li:last-child > a{
	border:none;
	}
.col-sm-3.header-cart{
    float: right;
    width: auto;
    padding: 0;
}
#cart {
	margin-bottom: 0px;
	float:right;
}
#cart > .btn {
	font-size: 13px;
	line-height: 21px;
	color: #FFF;
	background:url("../images/cart.png") no-repeat scroll 15px 13px #ff9c00;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-khtml-border-radius:0;
	padding:15px 16px 15px 40px;
	text-transform:uppercase;
}
#cart > .btn .fa{
	display:none;
	}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}	
#cart .dropdown-menu {
	width: 350px;
	padding:10px;
	border: 1px solid #e5e5e5;
}	
#cart .dropdown-menu li{
	float:none;
	}
#cart .dropdown-menu li:first-child{
	max-height:285px;
	overflow-x:hidden;
	overflow-y:auto;
	}
.main-menu ul > li {
	position: relative;
	float: left;
	z-index: 20;
	background-color:transparent;

}
#cart .dropdown-menu li p {	
margin:20px auto
}

.main-menu ul > li:hover > a {
    color: #ff9c00;
}
.main-menu a:hover { text-decoration:none}

.main-menu > ul > li:hover > a {
    background: #1f2022;
    color: #fff;
}
.content-top {
    background-color: #f8f8f8;
	margin-bottom:0px;
	padding:20px 0 20px;
}
.layout-2.left-col #column-left{
	width:22.65%;
	padding-left: 0;
}
#column-left{
	width:22.65%;	
	z-index:999;
}
.common-home #column-left .box.megnorcategory,.common-home #column-right .box.megnorcategory{
margin-bottom:0;
}
#column-left .box,#column-right .box{
	margin-bottom:20px;
	}
.megnorcategory {}
.box .filterbox { 
    border-color: #e5e5e5;
    border-image: none;
    border-right: 1px solid #e5e5e5;
    border-style: none solid solid;
    border-width: medium 1px 1px;
	background-color: #fff;
	border-top:none
}
#column-left .box .box-heading,#column-right .box .box-heading{/*letter-spacing:0.5px*/}
.box.megnorcategory .box-heading{
display:none !important;
position:relative;
float:none;
}
.box .box-heading {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;	
	background: #1f2022;
	padding: 15px 20px;
	font-size: 15px;
	font-weight:700;
	color: #fff;
	text-transform:uppercase
}
#column-left .box.megnorcategory .box-content,#column-right .box.megnorcategory .box-content{
margin-bottom:0;
}
#column-left .box .box-content, #column-right .box .box-content,
#column-left .box .filterbox, #column-right .box .filterbox{
/*margin-bottom:20px;*/
margin-bottom:0;
}
.box .box-content ul.dropmenu li.menu_1:hover{
	background-position:5px -47px;
	}
.box .box-content ul li ul li a.activSub:hover, .box .box-content ul li a.activSub:hover {

}
.box .box-content .dropmenu li a:hover,.box .box-content .dropmenu li a:focus{
color:#ff9c00;
}
.box.megnorcategory .box-content{
padding-left:0;
padding-right:0;
border-top: 1px solid #e5e5e5;
/*min-height: 618px;*/
height: 411px;
}
.box .box-content {
	background: #FFF;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding:5px 47px;
	border:1px solid #e5e5e5; 
	border-top: none;
}
.box .box-content ul.dropmenu{
	position: relative;
	margin: 0px;
	padding: 0px;
	display:block;
	font-size: 12px;
	z-index:9;
}
.box .box-content ul , #content .content ul { 
	padding:0px;
	margin:0px;
	list-style:none;
}
.box .box-content ul.dropmenu li.menu_1{
	background-position:5px 0px;
	}
.box .box-content ul.dropmenu li[class^="menu"]{
	background-image:url("../images/category-icon.png");
	background-repeat:no-repeat;
	padding:9px 0px 9px 55px;
	height: 40px;
	display:block;
}
.box .box-content .dropmenu li{
	position: relative;
	list-style: none;
	margin: 0px;
	cursor: default;
    padding: 0px;
}
.box .box-content ul li{
	line-height:22px;
	padding:8px 0;
}
.box .box-content ul li , #content .content ul li {
	line-height:22px;
	padding:4px 0;
}
.box .box-content ul li ul li a.activSub, .box .box-content ul li a.activSub {

}
.box .box-content ul li a:hover , #content .content ul li a:hover{
color: #1f2022;
}
.box .box-content ul li a , #content .content ul li a{
	padding:0px;
	color: #707070;
	text-transform:uppercase;
    font-weight: normal;
	font-size:13px;
}
.dropmenu li a{
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}
.dropmenu li span{
	/*display: none;*/
	float: right;
	height: 10px;
	width: 6px;
	position: absolute;
	top: 8px;
	right: 10px;
}
.dropmenu li span:before{
content:"\f105";
font-family:"FontAwesome";
font-size:14px;
color:#707070;
}
/*.dropmenu li div{
	background-color: #fff;
	padding: 15px 25px;*/
	/*display: none;*/
	/*display:block;
	position: absolute;
	border:1px solid #e5e5e5;
	border-left:none;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-khtml-opacity:0;
	transform-origin: left top;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
}
.dropmenu ul, .dropmenu div{
	position: absolute;
	display: none;
	width: 610px;
	left: 249px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	z-index: -1;
}
.box .box-content ul ul{  
    margin-left: 0px;
	width:100%;
	z-index:99;*/
	/*padding:25px;*/
	/*padding:10px;
	display:block
}
.dropmenu li div ul{
	border: none;
	background: none;
	position: relative;
	display: block;
	left: 0px;
}
.dropmenu div ul{
	position: relative;
	display: block;
}
.box .box-content .dropmenu .categorycolumn {
    display: inline-block;
    margin: 0 0 5px;
    position: relative;
    width: 32.9%;
}
.dropmenu ul li{
	float: none;
	display:inline;
}
.megnorcategory .dropmenu li li.categorycolumn > a{
color:#1f2022;
font-weight:500;
text-transform:capitalize;
font-size:14px;
margin-bottom:10px;
}
.box .box-content ul ul li ul {
	padding:0;
	}
.megnorcategory .box-content ul ul ul{

}
.categorycolumn ul{
	float:left;
}
.megnorcategory .dropmenu .categorycolumn li a {
color:#707070;
text-transform:capitalize;
float:left;
padding:1px 0;
clear:both;
}
.box .box-content ul li ul li + li{
	border-top:medium none;
	}*/
/* Slider*/
.layout-2.left-col #content, .layout-2.left-col #content-top {
	width:77.35%;
	padding-left:6px;
	padding-right:0;
}
.common-home #content, .common-home #content-top{
min-height:initial;
}
.main-slider {
    position: relative;
	display:inline-block
}
.main-slider .owl-carousel{
	width:900px;
	}
.slidersize{
	max-width: 1070px;
	max-height: 412px;
}
.category-cms{
	width: 100%;
    background: #f8f8f8;
    float: left;
	padding-bottom: 40px;
	padding-top: 25px;
	margin-bottom: 0px;
}
.category-container{
	width:1170px; 
	margin-left:auto; 
	margin-right:auto;
	}
.category-row {
    margin-left: -11px;
    margin-right: -11px;
}
.categoryblock {
    padding-left: 11px;
    padding-right: 11px;
	float:left;
	width:25%;
}
.category{
	padding:0px 20px;
	border:1px solid #e5e5e5; 
	overflow:hidden; 
	display:block; 
	background-color: #fff;
 }
 .subbanner-cms2 {
    margin-top: 0px;
	margin-bottom: 45px;
}
.subbanner-cms2 .sub-heading{
display:none;
}
.subbannerpart1,.subbannerpart2,.subbannerpart3 {
	float:left;
	}
.subbanner-one{
	margin-right:20px;
	}
.subbanner-two{
	margin:0 0px;
	}

.subbanner-three{
	margin-left:20px;
	}
.subbannerpart2 .img1{
	margin-bottom:10px;
	}
/*Best Deal*/
#content .box.bestseller,#content .box.featured {
    display: block;
    width: 100%;
    background-color: #f8f8f8;
	padding-top: 50px;
	margin-bottom:0px;
}
.box {
	margin-bottom:40px;
}
#content .box .box-heading,.blogs.box .box-heading,.hometab .box-heading  {
	border:none;
	background: url(../image/megnor/star.png) no-repeat scroll left center;
	padding: 0px 0px 0 30px;
	font-size: 18px;
	color: #1f2022;
	text-transform:uppercase;
	font-weight:700;
	display:inline-block;
	position:relative;
	margin:0 0 10px;
	letter-spacing: 0.5px;
}
.box .box-heading {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;	
	background: #1f2022;
	padding: 15px 20px;
	font-size: 15px;
	font-weight:700;
	color: #fff;
	text-transform:uppercase
}
#content .box .box-content,.hometab .box .box-content{
	background: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	border:none;
	padding:10px 0;
	margin-left:-10px;
	margin-right:-10px;
}
/*best deal slider*/
.col-item
{
    border-right: 1px solid #FFFFFF;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F8F8F8;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFFFFF;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
    padding-bottom: 10px
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/*countities*/

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
/* Testimonial */
/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #E1E1E1;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/* End Testimonial */



/*footer starts from here*/



.common-home footer {
    margin-top: 0;
    border-top: 0px solid #fff;
}

footer {
    margin-top: 30px;
    padding-top: 0px;
    background-color: #252525;
    color: #8c8c8c;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.content_footer_top {
    background: #3d3d3d;
}

.footerblock {
    display: inline-block;
    width: 25%;
    background-image: url(../images/footer-icon.png);
    background-repeat: no-repeat;
    padding-left: 47px;
    margin: 30px 0;
}

.footerblock1 {
    background-position: 0px -140px;
}

.footerblock2 {
    background-position: 0px -280px;
}

.footerblock3 {
    background-position: 0px 0px;
}

.footerblock4 {
    background-position: 0px -420px;
}


.footertop-cms .title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #b0b0b0;
}



.footertop-cms .subtitle {
    font-weight: 300;
    text-transform: capitalize;
    color: #b0b0b0;
    font-size: 13px;
}

#footer .column {
    width: 18%;
    margin-right: 20px;
    padding: 0;
}

#footer {
    padding-top: 70px;
    padding-bottom: 20px;
}

footer h5 {
    font-size: 16px;
    font-weight: 700;
    color: #d9d9d9;
    position: relative;
    text-transform: uppercase;
    margin: -3px auto 20px;
    letter-spacing: 0.5px;
}

#footer .column li a {
    font-weight: normal;
    line-height: 27px;
}

footer a {
    color: #8c8c8c;
}

#footer .column:after {
    content: "";
    position: absolute;
    width: 1px;
    background: #404040;
    right: 0;
    top: 0;
}

#contact ul, #aboutcms ul {
    list-style: none;
    padding: 0;
}

#contact ul li, .newsletter ul li {
    line-height: 27px;
}

#contact ul li {
    padding-left: 20px;
    position: relative;
}


#contact ul li.address:before {
    content: "\f041";
}

#contact ul li:before {
    position: absolute;
    left: 0;
    font-family: "FontAwesome";
    font-size: 16px;
    color: #5CB85C;
}

#contact li.call-num {
    margin-top: 15px;
}

#contact ul li.call-num:before {
    content: "\f10b";
}

#contact ul li.email:before {
    content: "\f0e0";
    font-size: 12px;
}



.newsletter .form-group {
    margin-bottom: 10px;
}

.newsletter label {
    display: none;
}

label {
    font-weight: normal;
}

element.style {
    font-style: italic;
}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 13px;
}

.newsletter #txtemail {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    width: 100%;
    border: 1px solid #404040;
    background-color: #2b2b2b;
    padding: 6px 8px;
    margin-top: 10px;
    height: auto;
}


.subscribe-btn .btn.btn-lg:hover {
    background-color: #25aef5;
    border-color: #25aef5;
    color: #fff;
}

.subscribe-btn .btn.btn-lg {
    margin-top: 15px;
    background-color: #5CB85C;
    border-color:#63974A ;
    text-transform: uppercase;
    font-size: 12px;
    color: #252525;
    font-weight: 700;
    width: 100%;
    padding: 5px 10px;
    line-height: 22px;
}

.content_footer_bottom {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 60px auto 25px;
    clear: both;
    float: left;
    width: 100%;
}

.content_footer_bottom {margin-top:20px}
.content_footer_bottom {
    border-bottom: 1px solid #3d3d3d;
    border-top: 1px solid #3d3d3d;
    text-align: center;
}

.social-cms {
    float: left;
    margin-top: 5px;
}

.social-cms ul, .payment-cms ul, .app-cms ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-cms li {
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
}

.social-cms ul, .payment-cms ul, .app-cms ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-cms ul li a {
    width: 28px;
    height: 28px;
    font-family: "FontAwesome";
    background-color: #3d3d3d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    padding: 0px 3px;
    display: block;
    font-size: 13px;
}

li.facebook a:before {
    content: "\f09a";
    padding: 5px;
    display: inline-block;
}

li.twitter a:before {
    content: "\f099";
    padding: 5px;
    display: inline-block;
}

li.gplus a:before {
    content: "\f0d5";
    padding: 5px;
    display: inline-block;
}

li.linkedin a:before {
    content: "\f0e1";
    padding: 5px;
    display: inline-block;
}


.app-cms {
    display: inline-block;
}

.app-cms li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-top;
}

.app-cms li.playstore a {
    background-position: 0px 0px;
}

.app-cms li a {
    width: 108px;
    height: 31px;
    float: left;
    background-image: url(../images/play-store.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.app-cms li.appstore a {
    background-position: -117px 0px;
}

.app-cms li.windowsstore a {
    background-position: -237px 0px;
}

.payment-cms {
    float: right;
    text-align: left;
}

.payment-cms {
    float: right;
    text-align: left;
}

.payment li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.payment li a {
    display: block;
    color: #4d4d4d;
}

.payment li.visa a:before {
    content: "\f1f0";
}

.payment li a:before {
    content: "";
    font-family: "FontAwesome";
    font-size: 25px;
    display: block;
}

.payment li.paypal a:before {
    content: "\f1f4";
}

.payment li.mastercard a:before {
    content: "\f1f1";
}

.payment li.discover a:before {
    content: "\f1f2";
}

.payment li.americanexpress a:before {
    content: "\f1f3";
}

.bottomfooter ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.bottomfooter {
    margin: 0 0 12px;
    text-align: center;
    clear: both;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.bottomfooter {
    margin: 0 0 12px;
    text-align: center;
    clear: both;
}

.bottomfooter ul li {
    display: inline-block;
    line-height: 13px;
    padding: 0 6px 0 10px;
    border-left: 1px solid #767676;
}



p.powered {
    text-align: center;
}
/*Scroll up button*/
.scroll-top-wrapper {
    position: fixed;
	opacity:0;
    visibility:hidden;
	overflow:hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

/* Responsive */
.bootstrap-datetimepicker-widget {
	border-radius:0 !important;
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    -khtml-border-radius:0 !important;
}

.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th {
border-radius:0 !important;
-webkit-border-radius:0 !important;
-moz-border-radius:0 !important;
-khtml-border-radius:0 !important;
}

.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover{
	background:#f3f3f3 !important;
}

.bootstrap-datetimepicker-widget td.today:before {border-bottom: 7px solid #25aef5 !important;}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover{
	background-color:#25aef5 !important;
	color: #161b1e !important;
}

.bootstrap-datetimepicker-widget td.active.today:before {
	border-bottom-color:#161b1e !important;
}

.bootstrap-datetimepicker-widget td span {
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    -khtml-border-radius:0 !important;
    background-color: #f3f3f3 !important;
}

.bootstrap-datetimepicker-widget td span:hover {background: #25aef5 !important; color:#FFFFFF}

.bootstrap-datetimepicker-widget td span.active {
	background-color: #25aef5 !important;
    color: #FFFFFF !important;
}

.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
background:#f3f3f3 !important;
}

.bootstrap-datetimepicker-widget td span.old:hover{color:#fff !important}

.picker-switch.accordion-toggle .btn{border:none; background-color:#25aef5; color:#fff}

.bootstrap-datetimepicker-widget td.day{position:relative;}

.bootstrap-datetimepicker-widget td.day.active:before {
    border-bottom: 7px solid #fff !important;
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-top-color: rgba(0,0,0,.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}


.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
    background-color: #25aef5 !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.bootstrap-datetimepicker-widget a[data-action]{border:none;}
/* End Datetimepicker Css */

/* Auto Search Css*/

/*.result-search-autocomplete
{
display: none;
position: absolute;
z-index: 1000;
background-color: #FFF;
border: 1px solid #e5e5e5;
top:40px;
max-height:345px;
overflow:hidden;
}
.result-search-autocomplete > ul > li > a:hover h4, .result-search-autocomplete > ul > li > a:focus h4{
	color:#25aef5;
}
.result-search-autocomplete h4
{
  	color: #000;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
	margin:0;
}
.result-search-autocomplete h5
{
font-size: 14px;
    margin-top: 3px;
    color: #1e1f22;
}
.result-search-autocomplete h5 i
{
color: #b5b5b5;
font-style: normal;
font-size: 14px;
text-decoration: line-through;
}
.result-search-autocomplete h6
{
text-transform: uppercase;
  	font-size: 9px;
  	font-weight: 700;
  	color: #0876e6;
  	display: block;
  	margin-top: 8px;
  	text-align: right;
}
.result-search-autocomplete ul,.result-search-autocomplete ul li
{
list-style-type: none;
margin: 0;
padding: 0;
}
.result-search-autocomplete-image
{
height: 65px;
margin-left: 15px;
border:1px solid #e5e5e5;
}
.col-md-3.row-result-search-autocomplete-image {
    padding: 0;
    width: 19%;
}
.col-md-6.result-info{padding:0;}
.result-search-autocomplete > ul
{
max-height:310px;
overflow-y: scroll !important;
overflow-x: hidden !important;
}

.result-button .btn.tagdattruoc{
	background-color: #25aef5;
    border: medium none;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
}
.result-search-autocomplete > ul >li >a
{
	position: relative;
  	display: block;
  	overflow: hidden;
  	padding: 6px;
  	text-decoration: none;
}
.result-search-autocomplete > ul >li 
{
	display: block;
  	background: #fff;
  	overflow: hidden;
  	list-style: none;
  	float: none;
}
.result-search-autocomplete > ul >li > a:hover button
{
color: #FFF;
}
.tagdattruoc {
  background: #3498db;
  border: 1px solid #0679c6;
  font-size: 11px;
  color: #fff;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  margin-top: 18px;
}
.tagdattruoc :hover
{
color: #FFF;
}
#searchbox {
    position: relative;
    float: left;
}

.header-search .show-result li a{padding:0;}

.header-search .show-result > li {
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
*/

/* End Auto Search Css*/

.alert.alert-success.animated{
	width:100%; 
	text-align:center;
	vertical-align:middle; 
	padding:25px 20px;
	opacity:0.95 !important; 
	-webkit-opacity:0.95 !important; 
	-moz-opacity:0.95 !important; 
	-khtml-opacity:0.95 !important; 
	background-color: #303030  !important;
    border-color: #303030 !important;
    color: #fff !important;
}
.alert.alert-success.animated span{font-size:18px !important;}
.alert.alert-success.animated span a{color:#fff;}
.alert.alert-success.animated span .fa.fa-check-circle{color:#9bcf85;}
.alert.alert-success.animated button.close{
	opacity:1; 
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity:1;
	color:#fff;
}

.account-login #input-password,.affiliate-login #input-password {margin-bottom:10px}

@media (width: 1200px) {
.product-grid .product-thumb .button-group button{width:70%; padding-left:1px; padding-right:1px;}
.product-grid .product-thumb .button-group button + button{width:15%;}
}

@media (max-width: 1200px) {
	.product-info .image-additional { width: 325px;}
	#column-left .product-thumb .price-old, #column-right .product-thumb .price-old  {margin-left:0;}
	#column-left .fa-shopping-cart:before, #column-right .fa-shopping-cart:before  {display:none;}
	#column-left .hidden-xs, #column-left .hidden-sm, #column-left .hidden-md {display:block !important; text-transform: capitalize; font-weight:normal;   margin-top: -25px;}
	.col-sm-4.total_amount { margin-top: 88px;}
	.blog-right { width:100%; }
	.product-list .product-thumb .button-group button{width:140px;}
	.product-list .product-thumb .button-group button+button{width:40px;}	
	.offer-part1:hover .text1, .offer-part2:hover .text1{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
	.category{min-height: 190px;}
	.dropmenu li ul.category-wrapper, .dropmenu li div.category-wrapper, .dropmenu li:hover ul.category-wrapper, .dropmenu li:hover div.category-wrapper{width: 198px;}
	.col-md-6.result-info{padding:0 15px;}
	.col-md-3.row-result-search-autocomplete-image{width:auto}
	#add-comment .col-sm-10.buttons.text-center{width:63.5%;}
	.box.megnorcategory .box-content{height:530px;}
	.dropmenu li div.category-wrapper{top:40px;}
}

@media (max-width: 1200px) and (min-width:1024px){
	.header-right,header.smaller .header-right{width:74%;}
	header.smaller #search .input-lg{width:230px;}
	.header-left{padding-right:10px;}
	#search .col-sm-3.sort{width:37%;}
	#search{width:93%;}
	header.smaller #search{width:74%;}
	#search .input-lg{width:310px;}
	.main-menu ul > li > a{padding:16px 26px;}
	.main-slider .owl-carousel{width:485px}
	.subbanner-cms1{width:29.5%;}
	.offer-part2{width:68.2%}
	
	.subbannerpart1,.subbannerpart3{width:30.6%}
	.subbannerpart2{width:38.8%} 
	
	.subbannercmspart1,.subbannercmspart2{width:49%}
	
	.box-category-heading{width:197px;}
	.cat-desc{width:50%;}
	.category .image{width:50%}
	.blog-left .blog-image img{height:180px}
	#top-links ul.list-inline li{padding: 0 7px 0 0px}
	#language{padding: 0 2px 0 0px; margin-right: 3px;}
	.lang-curr{margin-left:0;}
	.dropmenu ul, .dropmenu div{left:197px;}
	.rating .fa-stack, #review .fa-stack{width:11px;}
	.box.megnorcategory .box-content{height:530px;}
	.dropmenu li div.category-wrapper{top:40px;}
	/*.zoomWindow{width:380px !important; height:380px !important;}*/
}

@media (max-width: 1023px) and (min-width:980px){

.header-left{padding-right:10px;}
.header-right,header.smaller .header-right{width:74%;}
header.smaller #search{width:74%;}
header.smaller #search .input-lg{width:230px;}
.main-menu ul > li > a{padding:16px 26px;}
#search{width:93%;}
#search .input-lg{width: 310px;}
#search .col-sm-3.sort{width:37%;}
.offer-part2{width:68.2%}
.main-slider .owl-carousel{width: 485px}
.subbanner-cms1{width:29.5%}
.box-category-heading{width:197px;}
.subbannerpart1,.subbannerpart3{width:30.6%}
.subbannerpart2{width:38.8%}

.subbannercmspart1,.subbannercmspart2{width:49%}
.cat-desc{width:50%;}
.category .image{width:50%}
.blog-left .blog-image img{height:180px}
#top-links ul.list-inline li{padding: 0 7px 0 0px}
#language{padding: 0 2px 0 0px; margin-right: 3px;}
.lang-curr{margin-left:0;}
.dropmenu ul, .dropmenu div{left:197px;}
.rating .fa-stack, #review .fa-stack{width:11px;}
/*.zoomWindow{width:350px !important; height:350px !important;}*/
.offer-part1:hover .text1, .offer-part2:hover .text1{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
}
.dropmenu li ul.category-wrapper, .dropmenu li div.category-wrapper, .dropmenu li:hover ul.category-wrapper, .dropmenu li:hover div.category-wrapper{width:198px;}
.col-md-3.row-result-search-autocomplete-image {
    float: left;
    width: auto;
}
.col-md-6.result-info {
    float: left;
    padding: 0 15px;
    position: relative;
    width: 70%;
}
.box.megnorcategory .box-content{height:530px;}
.dropmenu li div.category-wrapper{top:40px;}
}

@media only screen and (min-width: 768px) and (max-width: 980px){
	.layout-2.left-col #column-left,.layout-2.right-col #column-right{width:22.65%;}
	.layout-2 #content{width:77.35%;}
	#column-left .product-items .product-details, #column-right .product-items .product-details {float: left;margin: 10px 0 0; width: 100%;}
	/*.zoomWindow{width:350px !important; height:350px !important;}*/
}
@media (max-width: 979px) {
	#column-left .box-product .image,
	#column-right .box-product .image {margin-right:7px;}
	.col-md-4.btn-list-grid {margin-bottom: 10px;}	
	.pagination-right {
		clear: both;
		float: left;
		margin: 5px 0;   
	}
	.product-compare .table-bordered{
		width:100%;
		float:left;
		overflow:auto;
		display:inline;
	}
	#accordion .form-horizontal .control-label{width:100%;}
	.subbannerpart1,.subbannerpart3{width:31.1%}
	.subbannerpart2{width:37.7%} 
	#search .col-sm-3.sort{width:30%;}

	#search{width:93%;}

	#search .input-lg{width:400px;}

	.layout-2.left-col #content,.layout-2.right-col #content, .layout-2.left-col #content-top,.layout-2.right-col #content-top,.layout-3 #content{width:100%; padding:0;}

	.main-slider .owl-carousel{width:100%;}

	.main-slider{width:67.5%; float:left}

	.subbanner-cms1{width:29.6%;}

	.subbannercmspart1,.subbannercmspart2{width:49%}
	
	.offer-part1{width:42%;}
	
	.offer-part2{width:55.2%;}
	
	.offer-content .text1{font-size:28px}
	
	.offer-part1:hover .text1, .offer-part2:hover .text1{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
	
	#footer{padding-top:30px}
	
	#footer .column:after{content:initial;}
	
	.app-cms{float:right}
	
	.payment-cms{
		float: none;
		display: inline-block;
		margin: 20px auto 0;
		clear: both;
		width: 100%;
		text-align: center;
	}
	
	.content_footer_bottom{margin-top:20px}
	
	.footertop-cms .subtitle{font-size:11px}
	
	.footertop-cms .title{font-size:12px}
	
	.blog-left .blog-image img{height:180px}
	
	.category-row{margin-left:-5px; margin-right:-5px;}
	
	.categoryblock{padding-left:5px; padding-right:5px}
	.category .image{float:none; clear:both; text-align:center; margin-top: 10px;}
	.category .image a{display:inline-block}
	.newsletter #txtemail,.newsletter .input-news, .col-sm-10.subscribe-btn{width:auto}
	.col-sm-10.subscribe-btn{float:left; clear:both}
	.header-left{text-align:center; width:100%; padding:0}
	.col-sm-4.header-logo{float: none;}
	.header-right{width:100%; border:none; padding:0;}
	header{padding:0 0 30px; position:static}
	/*#column-left,#column-right{display:none}*/
	 
	.layout-2.left-col #column-left, .layout-2.right-col #column-right,.layout-3 #column-left, .layout-3 #column-right,#column-left,#column-right{width:100%; padding:0; display:block !important; clear: both;}
	.common-home .layout-2.left-col #column-left,.common-home .layout-2.right-col #column-right,.common-home .layout-3 #column-left,.common-home .layout-3 #column-right, #column-left, #column-right{display:none !important;}
	.box.megnorcategory .box-heading{width:100%;}
	.box-category-heading:before{content:initial;}
	#column-left .container,#column-right .container{padding-left:15px; padding-right:15px;}
	#column-left .box .box-content, #column-right .box .box-content, #column-left .box .filterbox, #column-right .box .filterbox/*,#column-left .box .list-group,#column-right .box .list-group*/{
		display:none; 
		padding: 8px 15px;
		margin-bottom:0;
	}
	
	.single-banner {
    	display: none;
	}
	
	#column-left .box .list-group,#column-right .box .list-group{display:none}
	
	#column-left .box .box-heading, #column-right .box .box-heading{position: relative; margin: 0;}
	
	#column-left .box,#column-right .box{margin-bottom:20px;}
	
	#column-left .box .toggle .mobile_togglemenu,#column-right .box .toggle .mobile_togglemenu{
		top:13px;
		right:15px;
		width:98%;
		background:url("../image/megnor/toggle-arrow1.png") no-repeat scroll right 0px transparent;
	}
	
	#column-left .box .toggle.active .mobile_togglemenu,#column-right .box .toggle.active .mobile_togglemenu{
		background-position:right -52px;
	}
	
	#column-left .box .box-heading,#column-right .box .box-heading{
		padding-left:15px;
		padding-right:15px;
	}
	#column-left .product-items .product-details, #column-right .product-items .product-details{
		width:auto; margin:0; 
	}
	
	.nav-inner{display:block; border-bottom: 2px solid #e5e5e5; border-top: 1px solid #e5e5e5; background-color:#fff; margin-bottom:20px}
	.common-home .nav-inner{margin-bottom:0;}
	.nav-inner-cms .box-category-heading,.nav-inner-cms .main-menu ul{display:none}
	.nav-responsive span{border:none; padding:15px 0; font-size: 15px}
	#cms-menu {position:relative;}
	.col-sm-3.header-cart{position: absolute; right: 0; z-index: 99; }
	.nav-inner-cms{border:none; margin-bottom:0; margin-top:0;}
	.content-top #content{min-height:initial;}
	.contact-info .right{float:left; clear:both; margin-top:20px}
	.cate-heading,ul.subcats,.cat-desc{float:none}
	.cat-desc{text-align:center}
	#content .category_list .filterbox{border:1px solid #e5e5e5; margin:10px 0; background-color:#fff;}
	.list-group-item.group-name{padding-left:15px; padding-right:15px}
	.list-group-item,.panel-footer{padding-left:15px !important; padding-right:15px !important;}
	.filterbox .list-group-item,.filterbox .panel-footer{padding-left:0 !important; padding-right:0 !important;}
	.col-md-3.row-result-search-autocomplete-image {
    	float: left;
    	width: auto;
	}
	.col-md-6.result-info {
    	float: left;
    	width: 50%;
	}
	.main-menu ul.main-navigation{display:none;}
	.nav-inner #menu{display:block}
	.nav-responsive{width: 80%;}
}
@media (max-width: 767px) {
	.layout-2 #content,.layout-3 #content{width:100%;}
	.product-info .image-additional {} 
	.product-info .image-additional a {padding: 0px;} 
	.header-logo,.header-search,.header-cart{display:inline-block;float:none;width:100%;}
	.header-logo{text-align:center;}
	.header-cart{width:100%;display:inline-block;text-align:center;}
	.header-logo > div{display:inline-block;}
	.btn-info {margin-bottom:3px;} 
	#input-search {margin-bottom: 8px;}
	#logo .img-responsive { margin: 0 auto 15px;}
	.col-sm-4.total_amount {margin-top: 20px;}
	#cart{float:none;}	
	#cart .dropdown-menu {right: 0px;width: 350px;}
	#top-links ul.list-inline li{padding: 0 10px 0 8px}
	.checkout-cart .table.table-bordered .input-group-btn {clear: both; margin: 5px 0 0; float: left;}
	.checkout-cart .btn.btn-danger { margin-top: -2px !important;}
	.button_class {clear:both;}
	.show-wrapper{clear:both;margin:10px 0 0;}
	.category_filter .show {float: left; margin: 8px 10px 0 0;}
	.product-compare .table-bordered{float:left;width:100%;overflow:auto;display:inline;}
	.product-info .image, .product-info .additional-carousel { margin: 0 auto; width: 350px;}
	
	.product-info .additional-carousel{width:350px}
	.addthis_toolbox.addthis_default_style{margin: 10px 0;}
	
	#content .category_list .filterbox .list-group-filter a{border:none;}
	.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:0; margin-right:5px;}
	.checkout-cart #accordion .input-group-btn:last-child > .btn, .checkout-cart #accordion .input-group-btn:last-child > .btn-group{margin-left: 5px; margin-right: 0;}
	.blog-left .blog-image img {
    	height: auto;
    	width: 100%;
	}
	.addtocart .fa{margin:0;}
	.headertopright .text2 span.hidden-xs,.headertopright .text2 span.hidden-sm,.headertopright .text2 span.hidden-md{display:block !important}
	#search{width:89%;}
	#search .input-lg{width: 80%;}
	#search .col-sm-3.sort{width: 39%; float: left;}
	.searchbox{width: 58%;}
	.col-sm-3.header-cart{right:15px;}
	.owl-carousel .owl-buttons div{opacity:1 !important; -webkit-opacity:1 !important; -moz-opacity:1 !important; -khtml-opacity:1 !important;}
	.product-thumb .button-group{bottom:0;}
	.box.bestseller{padding-top:30px}
	.subbannerpart1,.subbannerpart2, .subbannerpart3{width: auto;
    float: none;
    clear: both;
	}
	.subbanner-one{margin-left:auto; margin-right:auto}
	.subbanner-three{margin-left:auto; margin-right:auto}
	.subbannerpart2 .img1{margin-bottom:10px}
	.offer-heading{letter-spacing:2px}
	.offer-part1{width:42%;}
	.offer-part2{width:53.5%; float:right}
	.offer-content .text1{font-size:17px;}
	.offer-part1:hover .text1, .offer-part2:hover .text1{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
	.subbanner-cms2 .subbanner-inner{display:none; text-align:center;}
	.subbanner-inner.row{margin-left:auto; margin-right:auto}
	.subbannerpart1,.subbannerpart2{margin-bottom:5px}
	.subbanner-one,.subbanner-two,.subbanner-three{display:inline-block; max-width:100%}
	.subbanner-one a:before, .subbanner-two a:before, .subbanner-three a:before{left:0; right:0;}
	.subbanner-one a, .subbanner-two a, .subbanner-three a{max-width:100%}
	.subbanner-cms2 .sub-heading{
		background-color: #f1f1f1;
		color: #161b1e;
		cursor: pointer;
		display: block;
		font-size: 16px;
		padding: 15px;
		width: 100%;
		font-weight: 500;
		position: relative;
		text-transform:capitalize;
		margin-bottom: 10px;
	}
	.subbanner-cms2 .sub-heading .banner_toggle {
		display: block;
		cursor: pointer;
		width: 100%;
		margin-top: 0;
		padding: 15px;
		position: absolute;
		right: 0;
		top: 0px;
		left: 0;
		transition: initial;
		-webkit-transition: initial;
		-moz-transition: initial;
		-ms-transition: initial;
		-o-transition: initial;
	}
	.subbanner-cms2 .sub-heading .banner_toggle:before{
		border: 1px solid #1f2022;
		color: #1f2022;
		content: "\f107";
		font-family: "FontAwesome";
		font-size: 18px;
		font-weight: normal;
		height: 22px;
		margin: 0;
		position: absolute;
		right: 15px;
		text-align: center;
		width: 22px;
	}
	
	.subbanner-cms2 .sub-heading.toggle.active .banner_toggle::before{
		content: "\f106";
	}
	.subbanner-cms3 .subbannercmspart1,.subbanner-cms3 .subbannercmspart2{display: inline-block; max-width: 100%;}
	.subbannercmspart1 .subbanner-inner a:before,.subbannercmspart2 .subbanner-inner a:before{left:0; right:0;}
	.subbanner-cms3{text-align:center}
	.subbannercmspart1 a,.subbannercmspart2 a{max-width:100%;}
	.subbannercmspart1, .subbannercmspart2 {
    	width: auto;
    	float: none;
    	margin: 5px auto;
	}
	.footerblock{width:50%;}
	.footertop-cms .title{font-size:16px;}
	.footertop-cms .subtitle{font-size:13px;}
	.social-cms{margin-bottom:20px;}
	.social-cms,.app-cms{float:none}
	.product-list .product-thumb .button-group .addtocart span.hidden-xs,.product-list .product-thumb .button-group .addtocart span.hidden-sm,.product-list .product-thumb .button-group .addtocart span.hidden-md{
		display:inline-block !important;
	}
	.product-list .product-thumb .button-group .addtocart .fa{margin-right:10px}
	.product-list .product-thumb .image{float:left;}
	.product-list .product-details{float:left; width:100%; clear:both}
	.product-list .product-thumb .image{padding:0; border:none; margin:0;}
	#button-cart{margin-bottom:0;}
	.main-slider{width:68%;}
	.subbanner-cms1{width:29.7%;}
	.subbanner1{margin-bottom:10%;}
	.information-blogger-blogs .blog-image img {
    	display: inline-block;
    	max-width: 100%;
	}
	.all-blog .blog-left-content .blog-image{height:auto}
	.subbanner-cms2.container {
    	padding-left: 15px;
    	padding-right: 15px;
	}
	.htabs{float: left; width: 100%; margin: 10px 0;}
	.categorytab .nav-tabs{float: left; width: 100%; margin: 10px 0;}
	.hometab .tab-content{clear:both}
	.hometab .customNavigation a{top:-50px}
	.categoryblock{width:50%; margin-bottom: 10px;}
	.category .image{float:none; clear:none}
	.category{padding:0 10px;}
	#logo{width:80%;}
	.product-block .image .hover-image, #column-right .image .hover-image, #column-left .image .hover-image{width:auto}	
	#add-comment .col-sm-10.buttons.text-center{width:12.5%;}
	.nav-responsive{width:70%;}
}
@media only screen and (max-width: 479px) {
	.owl-carousel .owl-buttons div{opacity:0 !important; -webkit-opacity:0 !important; -moz-opacity:0 !important; -khtml-opacity:0 !important;}
	.product-info .image-additional a{float:none; text-align:center;}
	.table{	
		float: left;
		margin-bottom: 20px;
		overflow: scroll;
		width: 100%;
	}
	.product-layout.product-grid{width:100% !important;}
	.shopping-cart .input-group .form-control{width:100%;padding:0;text-align:center;}
	.account-wishlist .table-bordered{float:left;width:100%;overflow:auto;display:inline;}
	#cart .dropdown-menu table {display: inline-block;}
	.flex-direction-nav a:before {font-size:27px !important;}
	#cart .dropdown-menu {right: 0px;  width: 290px;}
	.dropdown-menu.pull-right {width: 100%;}
	#cart .dropdown-menu li > div {min-width:100%;}	
	.category_filter .limit {float: left;}
	.contact-info .left,.contact-info .right{width:100%;}
	.product-info .image, .product-info .additional-carousel {width: 100%;}
	.nav-tabs > li{width:100%;}	
	.nav-tabs > li > a{margin: 0 0 2px !important; text-align: center;}
	.productpage .write-review, .productpage .review-count { display: inline-block;margin: 5px 0 0;width: 100%;}
	.pagination-wrapper .page-link{float:left;}
	.pagination-wrapper .page-result{float:left;clear:both;}
	.checkout-cart .pull-right {clear: both;float: left; margin: 10px 0;}
	.bootstrap-datetimepicker-widget.dropdown-menu{width:auto;}
	.checkout-cart #accordion .input-group-btn {float: left; margin: 5px 0 0;}
	.blog-right { width:100%; }
	.social-cms{    
		float: none;
		display: inline-block;
		margin: 0px auto 20px;
		clear: both;
		width: 100%;
		text-align: center;
	}
	.app-cms{float: none;
		display: inline-block;
		margin: 0px auto 0px;
		clear: both;
		width: 100%;
		text-align: center;}
	
    .hometab .customNavigation a{top:-45px}
	.hometab .customNavigation a.prev{
	left: auto;
    right: 51%;
    display: inline-block;
    float: none;
    position: absolute;
	}
	.hometab .customNavigation a.next{
	left: 51%;
    right: auto;
    display: inline-block;
    float: none;
    position: absolute;
	}
	.categorytab .owl-carousel .owl-buttons .owl-prev{
	display: inline-block;
    float: none;
    left: auto !important;
    opacity: 1 !important;
    -khtml-opacity: 1 !important;
    -webkit-opacity: 1 !important;
    -moz-opacity: 1 !important;
    position: absolute;
    right: 51% !important;
	}
	.categorytab .owl-carousel .owl-buttons .owl-next{
	left: 51% !important;
    right: auto !important;
    display: inline-block;
    float: none;
    position: absolute;
    opacity: 1 !important;
    -khtml-opacity: 1 !important;
    -webkit-opacity: 1 !important;
    -moz-opacity: 1 !important;
	}
	.categorytab .tab-pane .owl-carousel .owl-buttons div{top:-50px}
	.categorytab .tabs{text-align:center}
	.categorytab .nav-tabs{    
		float: none;
    	width: auto;
    	margin: 20px auto;
    	display: inline-block;
	}
	.hometab .tab-content,.categorytab .tab-content{clear:both; margin-top: 60px; float: left; width: 100%;}
	.categorytab .tab-content{margin-top:40px}
	.htabs a,.htabs .etabs li,.categorytab .nav-tabs li,.categorytab .nav-tabs li a{float:none; width:100%;}
	.htabs .etabs li,.categorytab .nav-tabs li{background:none; padding:0;}
	
	.app-cms li{margin-right:5px;}
	.social-cms li{margin:0 5px 0 0;}
	.footerblock{width: auto;
    margin: 15px 0;
    float: left;
    clear: both;}
	.main-slider,.subbanner-cms1{width:100%}
	.subbanner-cms1{margin-top:20px}
	.subbanner1{float:left; width:48%; margin-bottom: 20px}
	.subbanner2{float:right; width:48%}
	.offer-cms{margin-top:0;}
	.etabs{margin-top:20px }
	.offer-part1,.offer-part2{width:100%;}
	.offer-part1{margin-bottom:20px}
	.offer-content .text1{font-size:20px}
	.htabs{float:none; text-align:center; margin:0 auto}
	.hometab .tab-content{clear:both}
	.blog-left .blog-image img{height:240px}
	#menu{/*width:60%*/}
	#search{width:100%}
	#search .input-lg{width: 69%;}
	#search .col-sm-3.sort{width:100%; margin:0 0 10px;}
	.searchbox{width:93%}
	.col-sm-5.header-search{text-align:center; position:relative}
	.dropdown.myaccount {
		float: none;
		clear: both;
		text-align: center;
		display:inline-block;
		position:absolute;
		right:11px;
		top:51px;
	}
	.dropdown-menu.myaccount-menu{text-align:left}
	header .dropdown.myaccount > a{display:inline-block;}
	.headertopright{text-align:center}
	.headertopleft{display:none; float:none; margin-bottom:10px; text-align:center; width:100%;}
	.shipping-cms{text-align:left}
	.contact-text{float:left;}
	.headertopright .text2{float:left;}
	#language{background:none; padding: 0px; margin: 0px;}
	#language .dropdown-menu{}
	#currency .dropdown-menu{}
	#top-links{float:right; padding: 0; clear:none; margin:0 -11px;}
	#top-links ul.list-inline{float:none; display:inline-block; margin-top:0;}
	#top-links ul.list-inline li{padding: 0px; background:none; margin-right: 0;}
	#currency .btn-link, #language .btn-link{margin-top:-4px}
	.lang-curr{float:none; display:inline-block; margin-right: 0px; margin-left: 0;}
	.lang-curr .pull-left{float: none; display: inline-block;}
	.productpage #input-quantity{float:none; margin-bottom: 10px; margin-right: 0;}
	.breadcrumb{float:none !important}
	.product-info .image-additional{width:100%}
	.checkout-cart .shopping-cart .input-group-btn:last-child > .btn, .checkout-cart .shopping-cart .input-group-btn:last-child > .btn-group{margin-left:0px; margin-right:5px}
	.checkout-cart #accordion .input-group-btn:last-child > .btn, .checkout-cart #accordion .input-group-btn:last-child > .btn-group{margin-left: 0px; margin-right: 5px;}
	.blog-left{float:none;}
	.category .image{float:none; clear:both; text-align:center}
	.app-cms li{margin-right: 5px}
	.zoomContainer{display:none !important;}
	.col-md-6.result-info {
    	text-align: left;
    	width: 69%;
    	padding-right: 0;
	}
	.product-info .image-additional img{max-width:100%;}
	.comment-wrapper{float:left; margin-bottom:10px;}
	.information-blogger-blogs .read-more{clear:both;}
	.nav-responsive{width:60%;}
	/*.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin:0px;}*/
}
@media only screen and (max-width: 319px){
	.product-info .product-image .customNavigation{ width:196px; margin:0 auto; position: relative; } 
	.product-info .additional-carousel {width:196px; margin:0 auto;}
	.header-logo .img-responsive { width: 100%;}
	.btn-primary {margin-bottom:2px;}
	.compare-total {clear: both; margin: 8px 10px 10px 0;}
	#cart .dropdown-menu { right: -28px;width: 210px;}
	#cart .dropdown-menu{width:210px;}
	#cart .text-right .addtocart{margin:0 0 5px;}
	#cart .text-right .checkout{margin:0;}
}

#accordion .panel-title > a {
    color: inherit;
    display: inline-block;
    width: 100%;	
	text-transform: uppercase;
    font-weight: 400;
}
#accordion .panel-title{padding:10px;
	text-transform: uppercase;
    font-weight: 400;
	font-size: 13px;
}
#accordion .panel-heading .fa.fa-caret-down {float: right; margin-top:4px;}
#accordion .col-sm-10 {width: 75%;}
#accordion .form-horizontal .control-label {text-align:left;}

.checkout-cart #content .buttons .pull-right .btn{
    background-color: #1f2022;
    border-color: #1f2022;
}

.checkout-cart #content .buttons .pull-right .btn:hover{
    background-color: #25aef5;
    border-color: #25aef5;
}
