@charset "utf-8";
/* CSS Document */

.headertop {
    float: left;
}
.headertop .text{
	text-transform:uppercase;
	color:#424449;
	font-weight:300;
	margin-top:6px;
}
.lang-curr {
    float: right;
	margin-top:5px;
}
/*Start Login Dropdown*/


.dropdown.myaccount{
	float:none;
	}
header .dropdown.myaccount > a{
	padding:0px; 
	color:#fff;
	}
header .dropdown.myaccount a .fa{
	padding:13px 15px; 
	background-color:#1f2022;
}	
.dropdown.myaccount a span{
	display:none;
	}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover, .dropdown-menu.myaccount-menu, #currency .dropdown-menu .btn-link{
	font-size: 12px;
}
header .dropdown.myaccount a:hover .fa,header .dropdown.myaccount a:focus .fa{
background-color:#71BA44;
}
#login-dp{
	left: 554px;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#F90206;
}
.btn-tw:hover{
    color: #fff;
    background-color:#F90206;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*end Login Dropdown*/


/* Slider*/
.layout-2.left-col #content, .layout-2.left-col #content-top {
	width:77.35%;
	padding-left:6px;
	padding-right:0;
}
.common-home #content, .common-home #content-top{
min-height:initial;
}
.main-slider {
    position: relative;
	display:inline-block
}
.main-slider .owl-carousel{
	width:900px;
	}
.slidersize{
	max-width: 1070px;
	max-height: 412px;
}
.category-cms{
	width: 100%;
    background: #f8f8f8;
    float: left;
	padding-bottom: 40px;
	padding-top: 25px;
	margin-bottom: 0px;
}
.category-container{
	width:1170px; 
	margin-left:auto; 
	margin-right:auto;
	}
.category-row {
    margin-left: -11px;
    margin-right: -11px;
}
.categoryblock {
    padding-left: 11px;
    padding-right: 11px;
	float:left;
	width:25%;
}
.category{
	padding:0px 20px;
	border:1px solid #e5e5e5; 
	overflow:hidden; 
	display:block; 
	background-color: #fff;
 }
 .subbanner-cms2 {
    margin-top: 0px;
	margin-bottom: 45px;
}
.subbanner-cms2 .sub-heading{
display:none;
}
.subbannerpart1,.subbannerpart2,.subbannerpart3 {
	float:left;
	}
.subbanner-one{
	margin-right:20px;
	}
.subbanner-two{
	margin:0 0px;
	}

.subbanner-three{
	margin-left:20px;
	}
.subbannerpart2 .img1{
	margin-bottom:10px;
	}
/*Best Deal*/

/*best deal slider*/
.col-item
{
    border-right: 1px solid #FFFFFF;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F8F8F8;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFFFFF;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
    padding-bottom: 10px
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/*countities*/

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
/* Testimonial */
/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #E1E1E1;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/* End Testimonial */